<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>接口管理</title>
</head>
<body>
<a href="/doc/add">添加接口文档</a>

<hr />
<table border="1" cellspacing="0">
    <tr>
        <td>schemes</td>
        <td>接口主机</td>
        <td>接口根路径</td>
        <td>接口名称</td>
        <td>接口描述</td>
        <td>接口版本</td>
        <td>默认响应类型</td>
        <th>操作</th>
    </tr>
    {% for item in items %}
        <tr>
            {% block item %}
            <td>{{ item.schemes }}</td>
            <td>{{ item.host }}</td>
            <td>{{ item.base_path }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.version }}</td>
            <td>{{ item.produces }}</td>
            <td>
                <a href="/doc/{{item.id}}">编辑</a>
                <a href="/doc/{{ item.id }}/path/manager">查看接口方法</a>
                <a href="/doc/{{ item.id }}/model/manager">查看响应模型</a>
                {% import settings %}
                <a href="{{settings.swagger_ui_server_url}}/?url={{settings.ams_api_server_url}}/swagger/doc/{{item.id}}" target="_blank">查看文档</a>

            </td>
            {% end %}
        </tr>
    {% end %}
</table>
</body>
</html>