<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{item.title}}-接口详情</title>
</head>
<body>
<p>{{item.title}}</p>
<p>{{item.description}}</p>
<p>{{item.version}}</p>
<hr />
<a href="/doc/{{item.id}}/endpoint">添加接口方法</a>
<hr />
<table border="1" cellspacing="0">
    <tr>
        <th>地址</th>
        <th>请求方法</th>
        <th>简述</th>
        <th>描述</th>
        <th>标签</th>
        <th>操作</th>
    </tr>

    {% for ep in eps %}
    <tr>
        {% block ep %}
        <td>{{ep.path_url}}</td>
        <td>{{ep.operation}}</td>
        <td>{{ep.summary}}</td>
        <td>{{ep.description}}</td>
        <td>{{ep.tags}}</td>
        <td><a href="/endpoint/{{ep.id}}">查看</a></td>
        {% end %}
    </tr>
    {% end %}

</table>
</body>
</html>