<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{item.title}}-接口详情</title>
</head>
<body>
<p>{{item.title}}</p>
<p>{{item.description}}</p>
<p>{{item.version}}</p>
<hr />
<a href="/doc/{{item.id}}/operation">添加接口方法</a>
<hr />
<table border="1" cellspacing="0">
    <tr>
        <th>地址</th>
        <th>请求方法</th>
        <th>简述</th>
        <th>描述</th>
        <th>标签</th>
        <th>操作</th>
    </tr>

    {% for op in ops %}
    <tr>
        {% block op %}
        <td>{{op.path_url}}</td>
        <td>{{op.operation}}</td>
        <td>{{op.summary}}</td>
        <td>{{op.description}}</td>
        <td>{{op.tags}}</td>
        <td><a href="/operation/{{op.id}}">编辑</a></td>
        <td><a href="/operation/{{op.id}}/manager">查看</a></td>
        {% end %}
    </tr>
    {% end %}

</table>
</body>
</html>