<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>响应模型管理</title>
</head>
<body>
<div>
    <p>响应码: {{resp.code}}</p>
    <p>响应对象类型: {{resp.type}}</p>
    <p>响应描述: {{resp.description}}</p>
</div>
<hr>

<h2>包装类</h2>
<p>如果有包装类，响应对象最终为包装类，包装类data属性为 响应模型</p>
<p>暂定包装类只能是object</p>

{% if wrapper is None %}
<a href="/doc/{{doc_id}}/model/manager?resp_id={{resp.id}}&&is_wrapper=True">选择包装模型</a>
{% else %}
<p>包装类名称: {{wrapper.name}}

</p>
<span><a href="/doc/{{doc_id}}/model/manager?resp_id={{resp.id}}&&is_wrapper=True&&current_model_id={{wrapper.id}}">重新选择</a></span>
<span>
<a href="#">添加属性</a>
</span>
{% end %}

<p>&nbsp;</p>
<p>属性列表....</p>
<table border="1" cellspacing="0" id="wrapper_props_table">
<tr>
    <th>属性名</th>
    <th>类型</th>
    <th>描述</th>
    <th>格式</th>
    <th>操作x</th>
</tr>
{% for p in wrapper_props %}
    {% block p %}
    <tr>
        <td>{{p.name}}</td>
        <td>{{p.type}}</td>
        <td>{{p.description}}</td>
        <td>{{p.format}}</td>
    </tr>
    {% end %}
{% end %}

</table>

<hr>
<h2>响应模型</h2>
{% if model is None %}
<a href="/doc/{{doc_id}}/model/manager?resp_id={{resp.id}}">选择响应模型</a>
{% else %}
<p>名称: {{model.name}}
</p>
<a href="/doc/{{doc_id}}/model/manager?resp_id={{resp.id}}&&current_model_id={{model.id}}">重新选择</a>
<a href="/doc/{{doc_id}}/operation/{{op_id}}/resp/{{resp.id}}/model/{{model.id}}/prop">添加类属性</a>
{% end %}


<p>属性列表</p>
<table border="1" cellspacing="0" id="model_props_table">
<tr>
    <th>属性名</th>
    <th>类型</th>
    <th>描述</th>
    <th>格式</th>
    <th>操作</th>
</tr>
{% for p in model_props %}
    {% block p %}
    <tr>
        <td>{{p.name}}</td>
        <td>{{p.type}}</td>
        <td>{{p.description}}</td>
        <td>{{p.format}}</td>

    </tr>
    {% end %}
{% end %}

</table>


</body>
</html>